.git
.DS_Store
__pycache__/
*.pyc
*.pyo
*.log
wandb/
**/wandb/
checkpoints/
**/checkpoints/
verl_checkpoints/
data/
models/
models/7b_base/
wiki18_bm25/
wheels/
outputs/
**/outputs/
downloads/
dist/
build/
*.egg-info/
